body {
        font-family: "Roboto", sans-serif;
        background-color: rgba(255, 255, 255, 1);        
}

/* Remove the underline for href tag */
a {
        text-decoration: none;
}

/* Remove the bullet for <ul> and <li> */
ul,
li {
        list-style: none;
        padding: 0;
        margin: 0;
}

h4 {
        margin: 0;
}

/* Span class logo styles */
.logo {
  color: var(--IRIS, #4D5AE5);
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
}

/* Span class studio styles */
.studio-navy {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
}

/* Style the .studio li */
.studio {
        color: var(--IRIS, #4D5AE5);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        padding-left: 0;
        margin: 0;
}

.portfolio {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        padding-left: 0;
}


.contacts-info {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        padding-left: 0;
        margin: 0;
}

.main-secion {
        background-color: var(--NAVY-BLUE, #2E2F42);

}